<h1>Coaches wisdom</h1>

<div class="box" id="question">
  <p><%= @question %></p>
  <cite>- You</cite>
</div>

<div class="box" id="answer">
  <p><%= @answer %></p>
  <cite>- Your coach</cite>
</div>

<%= link_to "Ask another question", ask_path %>
